- content_for :title do
  = t :edit_account_settings

= form_for @user, url: droom_client.user_url(@user), method: "put", html: {autocomplete: "off"} do |f|

  %fieldset.email
    %p
      = f.label :email, :class => 'required'
      = f.email_field :email, :required => true
      %br
      %span.formnote
        = t("notes.user_email")

  %fieldset.phone
    %p
      = f.label :phone, :class => 'required'
      = f.tel_field :phone, :required => true
      %br
      %span.formnote
        = t("notes.user_phone")

  %fieldset.address
    %p
      = f.label :address, :class => 'required'
      = f.textarea :address, :required => true
      %br
      %span.formnote
        = t("notes.user_address")

  %fieldset.correspondence_address
    %p
      = f.label :correspondence_address
      = f.email_field :correspondence_address
      %br
      %span.formnote
        = t("notes.user_correspondence_address")


  %fieldset.buttons
    = f.submit t(:save_changes)
    = t :or
    = link_to t(:cancel), '#', class: "cancel"