- user ||= User.new_with_defaults(email: params[:email])
- if params[:destination]
  - backto = params[:destination]
- elsif stored_location = controller.stored_location_for(:user)
  - backto = URI.join(local_host, stored_location).to_s if stored_location

= form_for(user, :url => droom_client.sign_in_path, :method => 'post', html: {class: "signin session standard"}) do |f|
  = hidden_field_tag :destination, params[:destination]
  %p
    = f.email_field :email, :class => 'login', placeholder: t("placeholders.signin.email")

  %p
    = f.password_field :password, :class => 'login', placeholder: t("placeholders.signin.password")
    %span.reminder
      = link_to t(:forgot_password), droom_link_url("/users/password/new", backto: backto)

  .buttons
    %p
      = f.submit t(:sign_in), :class => "go"
